   <!-- start header -->
    <div class="header scrolldown" id="home">
        <img src="assets/images/2.png">
        <div class="para-container">
            <h2 class="header-h2">Finding Places.</h2>
            <p class="header-p text-light">To track and find our Kids Request the component for 500$</p>
          <a routerLink='/contact'><button class="header-button" type="button">Request Component</button></a>
        </div>
        <div class="clear-fix"></div>
    </div>
    <!-- end header -->
  <app-about></app-about>
  <!-- end about -->
     <!-- start services -->
     <div class="services" style="background-color: black;padding-bottom: 50px;padding-top: 50px;">
  
      <div class="ser-p-container col-md-12 col-sm-12 col-xs-12">
          <h2 class="ser-h2"><span class="ser-span">OUR</span> SERVICES</h2>
          <p class="ser-p">To track and find our Kids Request the component for 500$

            & Learn EveryThing About Internet Of Things (iot) Register To Show Courses For 500$.        </p>
      </div>
      <div class="container">
          <div class="row">
              <div class="ser1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="ser1-front">
                      <span class="serh">1</span><br>
                      <h2>Finding Places.
                    </h2>
                      <p>To track and find our Kids Request the component for 500$
                    </p>
                      <a>Read More</a>
                  </div>
                  <div class="ser1-back"></div>
  
              </div>
              <div class="ser1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="ser1-front">
                      <span class="serh">2</span><br>
                      <h2>Cources</h2>
                      <p>To Learn EveryThing About Internet Of Things (iot) Register To Show Courses For 500$.</p>
                      <a>Read More</a>
                  </div>
                  <div class="ser1-back"></div>
              </div>
              <div class="ser1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="ser1-front">
                      <span class="serh">3</span><br>
                      <h2>Implmantaion</h2>
                      <p>lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco nostrud
                          exercitation
                          ullamco laboris</p>
                      <a>Read More</a>
                  </div>
                  <div class="ser1-back"></div>
              </div>
              <div class="ser1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="ser1-front">
                      <span class="serh">4</span><br>
                      <h2>Maintenace</h2>
                      <p>lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco nostrud
                          exercitation
                          ullamco laboris</p>
                      <a>Read More</a>
                  </div>
                  <div class="ser1-back"></div>
              </div>
              <div class="clear-fix"></div>
          </div>
      </div>
  </div>
  <!-- end services -->
    <!-- start value -->
    <!-- <div class="value" id="value">
      <div class="container">
          <div class="row">
      <div class="value1 val1 col-lg-5 col-md-6 col-sm-12 col-xs-12">
          <h2 class="value1-h2"><span class="value1-span">OUR</span>VALUE</h2>
          <p class="value1-p">lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco nostrud
              exercitation ullamco laboris lorem ipsum availabe but the majarity aliqua quis nostrud exercitation
              ullamco nostrud exercitation ullamco laboris</p>
          <div class="value1-img"><img src="assets/images/4.png"></div>
          <div class="value1-para">
              <h2>DAVID HOUKER</h2>
              <p>Designer</p>
          </div>
          <div class="clear-fix"></div>
          <div class="value1-video">
              <a class="cd-single-point1" target="_self" class="video-a" href="images/d.mp4">
                  <i class="cd-img-replace1"></i>
                  <i class="fa fa-play innerbc1"></i>
              </a>
          </div>
      </div>
      <div class="value1 val2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="val21">
              <span class="val21-h2" data-from="154" data-to="700" data-speed="20100">354</span>
              <p>Active Experts</p>
          </div>
          <div class="val21">
              <span class="val21-h2" data-from="700" data-to="1800" data-speed="20100">700</span>
              <p>Satisfied Clients</p>
          </div>
          <div class="val21">
              <span class="val21-h2" data-from="800" data-to="1900" data-speed="20100">1200</span>
              <p>Project Complete</p>
          </div>
      </div>
      <div class="value1 val3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h2 class="val3-h2"><span class="val3-span1">We have</span> <span class="val3-span2">15 Years
              </span>experience
              in Software</h2>
          <div class="val31">
              <h2>Design</h2>
              <div>
                  <div class="line1"></div>
                  <img class="val31-img1" src="assets/images/left-line.png">
                  <span class="val31-span1">58%</span>
              </div>
          </div>
          <div class="val31">
              <h2>Develop</h2>
              <div>
                  <div class="line2"></div>
                  <img class="val31-img2" src="assets/images/left-line.png">
                  <span class="val31-span2">76%</span>
              </div>
          </div>
          <div class="val31">
              <h2>Implementation</h2>
              <div>
                  <div class="line3"></div>
                  <img class="val31-img3" src="assets/images/left-line.png">
                  <span class="val31-span3">56%</span>
              </div>
          </div>
          <div class="val31">
              <h2>Meintanace</h2>
              <div>
                  <div class="line4"></div>
                  <img class="val31-img4" src="assets/images/left-line.png">
                  <span class="val31-span4">55%</span>
              </div>
          </div>
      </div>
      <div class="clear-fix"></div>
  </div></div>
  </div> -->
  <!-- end value -->
  <!-- start mission -->
  <!-- <div class="mission">
      <div class="part1">
    <div class="skitter skitter-large">
      <ul>
        <li>
          <a href="#cut"><img src="assets/images/a5.webp" class="cut" /></a>
          <div class="label_text"><p>cut</p></div>
        </li>
        <li>
          <a href="#swapBarsBack"><img src="assets/images/a3.jpg" class="swapBarsBack" /></a>
          <div class="label_text"><p>swapBarsBack</p></div>
        </li>
        <li>
          <a href="#swapBlocks"><img src="assets/images/a4.webp" class="swapBlocks" /></a>
          <div class="label_text"><p>swapBlocks</p></div>
        </li>
        <li>
          <a href="#swapBlocks"><img src="assets/images/a5.webp" class="swapBlocks" /></a>
          <div class="label_text"><p>swapBlocks</p></div>
        </li>
        <li>
          <a href="#swapBlocks"><img src="assets/images/a6.webp" class="swapBlocks" /></a>
          <div class="label_text"><p>swapBlocks</p></div>
        </li>
      </ul>
    </div>
  </div>
  </div> -->
  <!-- end mission -->
     <!-- start testimonials -->
     <div class="testimonials scrolldown" id="testimonials">
      <h2 class="testimonials-h2">Client Testimonials</h2>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="testimonials-part1">
                      <div class="img-testimonials">
                          <img src="assets/images/vv.png">
                      </div>
                      <div class="testimonials-para">
                          <h2>John Doe</h2>
                          <p>Manager</p>
                      </div>
                      <div class="right-box">
                          <img src="assets/images/right-box.png">
                      </div>
                      <div class="clearfix"></div>
  
                      <p>lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco
                          nostrud exercitation ullamco laboris lorem ipsum availabe but the majarity aliqua quis
                          nostrud
                      </p>
                  </div>
                  <div class="testimonials-part2">
                      <div class="img-testimonials">
                          <img src="assets/images/5.png">
                      </div>
                      <div class="testimonials-para">
                          <h2>John Doe</h2>
                          <p>Manager</p>
                      </div>
                      <div class="right-box">
                          <img src="assets/images/left-box.png">
                      </div>
                      <div class="clearfix"></div>
  
                      <p>lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco
                          nostrud exercitation ullamco laboris lorem ipsum availabe but the majarity aliqua quis
                          nostrud</p>
                  </div>
                  <div class="clearfix"></div>
  
              </div>
              <div class="carousel-item">
                  <div class="testimonials-part1">
                      <div class="img-testimonials">
                          <img src="assets/images/6.png">
                      </div>
                      <div class="testimonials-para">
                          <h2>John Doe</h2>
                          <p>Manager</p>
                      </div>
                      <div class="right-box">
                          <img src="assets/images/right-box.png">
                      </div>
                      <div class="clearfix"></div>
  
                      <p>lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco
                          nostrud exercitation ullamco laboris lorem ipsum availabe but the majarity aliqua quis
                          nostrud
                      </p>
                  </div>
                  <div class="testimonials-part2">
                      <div class="img-testimonials">
                          <img src="assets/images/vvv.png">
                      </div>
                      <div class="testimonials-para">
                          <h2>John Doe</h2>
                          <p>Manager</p>
                      </div>
                      <div class="right-box">
                          <img src="assets/images/left-box.png">
                      </div>
                      <div class="clearfix"></div>
                      <p>lorem ipsum availabe but the majarity aliqua quis nostrud exercitation ullamco
                          nostrud exercitation ullamco laboris lorem ipsum availabe but the majarity aliqua quis
                          nostrud</p>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  <!-- end testimonials -->
  <!-- start contact -->
  <div class="contact">
      <div class="container">
          <div class="row">
              <div class="">
          <p class="contact-p1">let's work together</p>
          <h2>(+291)-456-789-1234</h2>
          <p class="contact-p2">Streer 4,45 New york City</p>
          <!-- <button>Contact Us</button> -->
      </div></div>
  </div></div>
  <!-- end contact -->
  <!-- start maps -->
  <div class="maps">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3456.6419301838555!2d30.923223!3d29.9609765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1573909576260!5m2!1sar!2seg"
          frameborder="0" style="border:0" allowfullscreen=""></iframe>
      <div class="clear-fix"></div>
  </div>
  <!-- end maps -->
  <app-footer></app-footer>
