<ul class="icon1">
    <li> <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
    </li>                                                                
    <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
    <!-- <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a></li>
    <li><a><i class="fa fa-trash" aria-hidden="true"></i>
    </a></li>
    <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
    </a></li>
    <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
    </a></li> -->
  </ul>
  <!-- <ul class="icon2"> -->
    <!-- <li><a class="a"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    <li><a class="a"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
  </ul>
  <div class="clear-fix"></div> -->
  <!-- <div class="line"></div> -->
  <br>
<h5>Report about your childern</h5><br>
    <!-- <div class="back-image"><img src="assets/images/01.jpg"></div> -->
    <p>Dear</p>
    <p class="text-muted p-4">{{activity}}</p>
    <!-- <p class="text-muted p-4">student good in swimming and weak in football and very good in drawing and excellent in vollyball  its behaviour is good in class and with friends and Good academic level and participate in the research work is very good </p> -->
    <div class="line"></div>
    <!-- <p><i class="fa fa-file-text-o" aria-hidden="true"></i>
            degree.pdf</p> -->
            <div class="degree-table">
                <h5>Degree</h5>
                    
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">mathDegree</th>
                      <th scope="col">aribacDegree</th>
                      <th scope="col">English</th>
                      <th scope="col">France</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{math}}</td>
                      <td>{{arabic}}</td>
                      <td>{{english}}</td>
                      <td>{{france}}</td>
        
                    </tr>
                  </tbody>
                </table>
        
        
              </div>
