 <!-- start nav1 -->
 <div class="nav1" id="nav1">
    <ul class="nav1-ul">
        <li class="first-item"><a><i class="fa fa-envelope-o" aria-hidden="true"></i>rta@com.com</a></li>
        <li><a><i class="fa fa-phone" aria-hidden="true"></i>(+11)98765432</a></li>
        <li><a><i class="fa fa-map-marker" aria-hidden="true"></i>mirpur dika,USA,road123</a></li>
    </ul>
    <!-- <button class="nav1-button">Apply</button> -->
    <div class="clear-fix"></div>
</div>
<!-- end nav1 -->
<!-- start nav2 -->
<div class="nav2" id="nav2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-1 hidden-xs-block nav2-img">
                <h2 class="nav2-h2">GPS</h2>
            </div>
            <div class="col-md-9 col-sm-11 hidden-xs-block">
                <ul class="nav2-ul">
                    <li><a class="a"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    
                    <li><a class="a" routerLink='/login' routerLinkActive='activepage'>Login</a></li>
                    <li class="f-item"><a class="a" routerLink='/home' routerLinkActive='activepage'>Home</a></li>
                </ul>
            </div>
          <div class="hidden-list">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <ul class="hidden-list-ul">
            <li><a class="a x" routerLink='/contact' routerLinkActive='c'>Contact</a></li>
            <li><a class="a x">Blog</a></li>
            <li><a class="a" routerLink='/register' routerLinkActive='c'>Register</a></li>
            <li><a class="a" routerLink='/login' routerLinkActive='c'>Login</a></li>
            <li><a class="a">Services</a></li>
            <li><a class="a">About</a></li>
            <li class="f-item"><a class="a" routerLink='/home' routerLinkActive='c'>Home</a></li>
        </ul>
    </div>
</div>
</div>

</div>
<!-- end nav2 -->
