 <!-- start header -->
 <div class="heade">
    <h2 class="mr-5">Request Component to Track Our Kids</h2>
   <P><span>Home</span> >> Request</P>
   <div class="line1"></div>
   <div class="line2"></div>
  </div>
  <!-- end header -->
  <!-- start contact -->
   <div class="contactt">
      <div class="contact-form">
        <h2>If you want gps service, call to get the component</h2>
        <form [formGroup]='contactsForm' (ngSubmit)='saveform()'>
            <div class="form-group group1">
                <label>YOUR NAME</label>
             <input type="text" formControlName='userName' class="form-contol" required [(ngModel)]="request.username" name="username">
           <div *ngIf="contactsForm.controls.userName.touched && contactsForm.controls.userName.errors != null" class="alert text-danger">userName Required</div>
            </div>
         <div class="form-group group2">
           <label>YOUR Email</label>
            <input type="text" formControlName='userEmail' class="form-contol" required [(ngModel)]="request.email" name="email">
            <div *ngIf="contactsForm.controls.userEmail.touched && contactsForm.controls.userEmail.errors != null" class="alert text-danger">userEmail invalid</div>
           </div>
           <div class="form-group group2">
            <label>Write Address</label>
             <input type="text" formControlName='subject' class="form-contol" required [(ngModel)]="request.address" name="address">
             <div *ngIf="contactsForm.controls.subject.touched && contactsForm.controls.subject.errors != null" class="alert text-danger">subject Required</div>
            </div>
            <div class="form-group group2">
                <label>YOUR Request</label>
                 <input type="text" formControlName='message' class="form-contol" required [(ngModel)]="request.requ" name="requ">
                 <div *ngIf="contactsForm.controls.message.touched && contactsForm.controls.message.errors != null" class="alert text-danger">MISSAGE Required</div>
                </div>
                <a routerLink='/home'><button [disabled]='contactsForm.invalid' type="submit" (click)="saveTutorial()"
                  class="btn-btn-info">Send Message</button></a><br>
         </form>
      </div>
      <div class="contact-info">
      <h2 class="contact-info-h2">Contact Info</h2>
      <div class="info">
        <h2 class="contact-info-h21"><i class="fa fa-phone mr-1" aria-hidden="true"></i>Phone number</h2>
        <p>(123)456-7544</p>
        <h2 class="contact-info-h21"><i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>Email address</h2>
        <p>youeemail@gmail.com/p>
        <h2 class="contact-info-h21"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>Address info</h2>
        <p>09,martin street b190 pale</p>
        <h2 class="contact-info-h21">Component price</h2>
        <p>500$</p>
      </div>
      </div>
      <div class="clearfix"></div>
  </div>
  <!-- end contact -->
<!-- start maps -->
<div class="maps">
  <iframe
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3456.6419301838555!2d30.923223!3d29.9609765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1573909576260!5m2!1sar!2seg"
      frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
<div class="clear-fix"></div>
<!-- end maps -->
<app-footer></app-footer>
